body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    background-color: rgb(42, 47, 53);
    color: white;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;    
    height: 6vh;
    background-color: rgb(23, 23, 23);
    padding: 1vh 2.5vw;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000; /* Ensure it stays above other content */
}

.search {
    position: absolute;
    margin: 0px;
    right: 12vw;
    width: 14vw;
    align-items: center;
    justify-content: center;
}

#options {
    display: inline-flex;
    background-color: #ccc;
    font-size: 0.9vw;
    width: 10vw;
    height: 1.1vw;
    outline: none;
    border: 0.3vw solid white;
    border-left: none;
}

.search-left {
    position: absolute;
    left: 0;
    display: inline-flex;
    background-color: #ccc;
    width: 1.5vw;
    height: 1.25vw;
    border: 0.3vw solid white;
    border-right: none;
    border-top-left-radius: 40%;
    border-bottom-left-radius: 40%;
    padding: 0;
    font: inherit;
    outline: none;
}

.search-right {
    position: absolute;
    right: 0;
    display: inline-flex;
    background-color: rgb(206, 111, 21);
    width: 1.5vw;
    height: 1.25vw;
    border: 0.3vw solid white;
    font-size: 1px;
    border-top-right-radius: 40%;
    border-bottom-right-radius: 40%;
    padding: 0;
    cursor: pointer;
    align-items: center;
    justify-content: center;
}

#pfp {
    width: 6vh;
    height: 6vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 7%;
    text-decoration: none;
    font-size: 0.9vh;
    color: white;
    border-radius: 50%;
    border: 3px solid white;
    background: rgb(215,100,0);
    background: linear-gradient(0deg, rgba(215,100,0,1) 50%, rgb(255, 156, 69) 100%);
    cursor: pointer; /* Change cursor to pointer on hover */
}

.dropdown-container {
    margin-right: 4.9vw;
    margin-top: 5vh;
    width: 3.3vw;
    height: 5vh;
  }

.dropdown {
    display: none; /*Hide dropdown by default */
    position: absolute;
    border-radius: 6px;
    top: 8.7vh;
    width: 10vw;
    height: 30vh;
    right: 5%;
    background-color: rgb(23, 23, 23);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 5px 0;
    cursor: pointer;
}

.dropdown-item, .dropdown-item a {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5vh 20px;
    text-decoration: none;
    font-size: 2.5vh;
    color: white;
    cursor: pointer;
}

.dropdown-item:hover {
    background-color: rgb(53, 57, 61);
}


h1 {
    color: white;
    background-color: rgb(23, 23, 23);
    font-size: 5vh;
    padding: 5px;
}

.button {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    border: 5px solid white;
    border-radius: 15px;
    background: rgb(231,113,0);
    width: 10%;
    height: 10vh;
    margin: 10px auto;
    text-decoration: none;
    color: white;
}

.button:hover  {
    background: rgb(206, 111, 21)
}

.button a {
    text-decoration: none;
    color: white;
}

.category-header {
    margin-top: 75px;
    margin-bottom: 1vh;
    margin-left: 3vw;
    padding: .75vh 1.5vw;
    font-size: 4vh;
    display: inline-block;
    text-align: center;
    border-radius: 10px;
    background-color: rgb(231, 112, 0);
    border: 3px solid white;
}

.media-options-container {
    display: flex;
    align-items: center;
    margin: 0 auto;
    overflow: hidden;
    width: 90.4vw;
    height: 275px;
    border: 3px solid white;
    border-radius: 10px;
    text-align: left;
}

.media-options-container a {
    text-decoration: none;
    border-radius: 5px;
}

.media-options-container a:hover {
    background: #cccccc25;
}

.media-option-title {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 133px;
    height: 50px;
    margin: 7px;
    margin-top: -10px;
    text-decoration: none;
    font-size: 100%;
    color: white;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 3px solid white;
    background: rgb(215,100,0);
    justify-content: center;
}

.option-cycle-button-next {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    font-size: 200%;
    width: 3vw;
    right: 1vw;
    height: 275px;
    border-radius: 10px;
    background-color: rgba(231,113,0);
    border: 3px solid white;
    cursor: pointer;
    z-index: 1;
}

.option-cycle-button-prev {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    font-size: 200%;
    width: 3vw;
    left: 1vw;
    height: 275px;
    border-radius: 10px;
    background-color: rgba(231,113,0);
    border: 3px solid white;
    cursor: pointer;
    z-index: 1;
}

.media-option-img {
    display: flex;
    width: 133px;
    height: 200px;
    margin: 7px;
    font-size: 100%;
    color: white;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border: 3px solid white;
    justify-content: center;
}

.media-option-title {
    text-decoration: none;
    color: white;
}

.movie-image {
    width: 300px; /* Set the desired width */
    height: 400px; /* Set the desired height */
    margin: 0 auto; /* Auto margin for centering */
    border: 2px solid #000; /* Outline style */
    box-sizing: border-box; /* Include border in width and height */
}

.streaming-platform-option {
  display: inline-block;
  padding: 10px;
  border: 1px solid #000000;
  margin: 5px;
}

.wheel {
    text-align: center;
}

#banner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6vh;
}