<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/stylesheet.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/charts.css/dist/charts.min.css">
    <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico">
    <title>FlixPicks Analytics</title>
</head>
<body>
{% include header %}
    <h1 style="margin-top: 10vh;">FlixPicks Analytics Report</h1>
    <div class="">
        <button class="button2">Most Interacted Movies</button>
        <button class="button2">Most Clicks</button>
        <button class="button2">CineWheel Interactions</button>
        <button class="button2">CineRoll Interactions</button>
        <button class="button2">Top Recommended Services</button>
    </div>

     <!--Most Interacted Movie Graph-->
    <div>
     
    </div>
    <!--Most Clicks Graph-->
   <div id="graph">
    <table class="charts-css column show-labels show-primary-axis show-4-secondary-axes show-data-axes">
        
        <tbody>
            
            <tr><td style="--size: 0.5;"><span class="data"> # </span></td></tr>
             <tr><td style="--size: 0.4;"><span class="data"> # </span></td></tr>
              <tr><td style="--size: 0.6;"><span class="data"> # </span></td></tr> 
              <tr><td style="--size: 0.8;"><span class="data"> # </span></td></tr> 
              <tr><td style="--size: 1.0;"><span class="data"> # </span></td></tr>
            </tbody>
        </table>
        <div class="primary-axis"> x-axis </div>
        <div class="data-axis-1"> y-axis </div>
        
    </div>
    
</body>
<script>
 


  

</script>
</html>
