<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/stylesheet.css">
    <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico">
    <title>HotPicks - {{ movie.title }}</title>
    <style>
        h3 {
            text-decoration: none;
        }
    </style>
</head>
<body>
    <div style="display: flex;">
        <img id="banner" src="../static/images/FlixpicksLogo.png" alt="FlixPicks logo" title="FlixPicks">
        <a class="button" style="height: 4vh;" href="{{ url_for('userhome') }}">Back Home</a>
    </div>
    <h1>{{ movie.title }}</h1>

    <img class="hotpicksimg" src="{{ movie.picture }}" alt="{{ movie.title }}">
    <h3>Release Date: {{ movie.release_date }}</h3>

    <a class="button" style="height: 4vh;" href="{{ movie.url }}">TMDB link</a>
</body>
</html>


