<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/stylesheet.css">
    <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico">
    <title>Hot Picks</title>
</head>
<body>
    <h1>{{ movie.title }}</h1>
    <p>Release Date: {{ movie.release_date }}</p>
    <img src="{{ movie.picture }}" alt="{{ movie.title }}">
 
    <p><a href="{{ movie.url }}">TMDB link</a></p>
</body>
</html>

