<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/stylesheet.css">
    <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico">
    <title>FlixPicks Guest Page</title>
</head>

<body>
    {% include header %}

<h1 style="margin-top: 15vh;">Welcome to the guest home page!</h1> <!-- Welcome banner -->
    <p style="font-size: 1.1em; margin: auto; width: 90%">FlixPicks is the place to be for all your streaming needs! We're here to help you find content from popular streaming services such as Netflix and Hulu. Click on a movie to find out where it's streaming. Login to access our advanced features such as CineRoll and our recommender.</p>
    <p>
        <h3 style="display: inline; text-decoration: underline;">Our Providers:</h3>
        <br />
        <img class="frontimage" src="../static/images/netflix.svg" alt="Netflix" title="Netflix"/>
        <img class="frontimage" src="../static/images/hulu.svg" alt="Hulu" title="Hulu"/>
        <img class="frontimage" src="../static/images/disney+.svg" alt="Disney+" title="Disney+"/>
        <img class="frontimage" src="../static/images/max.svg" alt="Max" title="Max"/>
        <img class="frontimage" src="../static/images/prime.svg" alt="Amazon Prime Video" title="Prime Video"/>
        <img class="frontimage" src="../static/images/tmdb.svg" alt="The Movie Database" title="The Movie Database"/>
    </p>
    <div padding="20px"></div>
    
    <div style="display: flex; margin-left: 15%; margin-right: 15%;">

        <a class="button" style="width: 13%; background-color: rgb(90, 90, 90);" onclick="makeAccountPopup()">
            &nbsp;&nbsp;<img style="height: 6vh;" src="../static/images/cineroll.svg" alt="CineRoll dice"/>
            <br /><br />
            <p style="display: block;">CineRoll</p>&nbsp;&nbsp;
        </a>


        <a class="button" style="width: 13%;" href="{{url_for('wheel')}}">
            &nbsp;&nbsp;<img style="height: 6vh;" src="../static/images/cinewheel.svg" alt="CineWheel Logo"/>
            <br /><br />
            <p style="display: block;">CineWheel</p>&nbsp;&nbsp;
        </a>
    </div>

    <div style="position: absolute; left: 50%; margin-left: calc(-570px - 7.5vh); margin-top: -10px; text-align: left;"> <!-- Start of Hotpix -->
    <div class="category-header"> 
          HotPicks
    </div>
</div>
<div style="margin-top: 12vh; display: flex; align-items: center; justify-content: center;"> <!-- Media Options Container (for category1)-->
    <div onclick="moveCategory(1,'left')" class="option-cycle-button-prev"><div style="text-align: center;">&lt</div></div>
    <div class="media-options-container">
        <div id="category1" style="display: flex; position: relative; transition: transform 0.6s ease-in-out;">
            {% for movie in trending_movies %}
            <a href="{{ url_for('mediaInfo', movie_id=movie.id) }}"><div class="media-option-img"> <img src="{{ movie.picture }}" alt="{{ movie.title }}"> </div><div class="media-option-title">{{ movie.title }}</div></a>
            {% endfor %}
        </div>
    </div>
    <div onclick="moveCategory(1,'right')" class="option-cycle-button-next"><div style="text-align: center;">&gt</div></div>
</div> <!-- End of Hotpix -->

<script>
  
  let count = []; // the count array and moveCategory() are for horizontal-media-category-navigation
    function moveCategory(categoryNum, direction) {
        const box = document.getElementById('category' + categoryNum);
        const maxSteps = 3;
        const maxDistance = 133 * 2.75 + 15;   // Should be MediaOption width * #OfMediaOptions + wiggle room
        const stepSize = maxDistance / maxSteps;

        // Initialize count for the category if it doesn't exist
        if (!count[categoryNum]) {
            count[categoryNum] = 0;
        }

        // Update count based on direction
        if (direction == 'right') {
            count[categoryNum]++;
        } else if (direction == 'left') {
            count[categoryNum]--;
        }

        // Ensure count stays within bounds
        count[categoryNum] = Math.max(0, Math.min(maxSteps, count[categoryNum]));

        // Calculate translation based on count
        const translation = -stepSize * count[categoryNum]; // Negative for right direction

        // Apply translation to the box
        box.style.transform = `translateX(${translation}px)`;
    }

    function makeAccountPopup() {
        alert("If you would like full access to all of FlixPicks' features, which includes CineRoll, please make an account and sign in first!");
    }

</script>
</body>
</html>