<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/stylesheet.css">
    <title>Login</title>
</head>
<body>
    <h1>
        Login Page
    </h1>

    <form method="POST" action="">
        {{ form.hidden_tag() }}
        {{ form.username }} <br>
        {{ form.password }} <br>
        {{ form.submit }}
        {% if error_message %}
            <p class="error">{{ error_message }}</p>
        {% endif %}
    </form>
    <a href="{{url_for('register')}}"> Don't have an account? </a><br>
</body>
</html>