<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/stylesheet.css">
    <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico">
    <title>{{page_id}} Info</title>
<body>
    {% include header %}

    <h1 style="margin-top: 10vh;">
        {{ movie.title }}
    </h1>

    <div style="display: flex; align-items: center; justify-content: center;">
        <img class="mediainfoimg" src="{{ movie.picture }}" alt="{{ movie.title }}">
        <div>
            <div class="category-header" style="margin-left: -22vh; margin-top: 15vh;">Description</div>
            <div class="mediainfodescription"> {{ movie.summary }} </div>
            <a class="button" style="margin-top: 2vh; height: 4vh; width: 14vh;" href="{{movie.url}}">TMDB Link</a>
        </div>
        
    </div>
    
</body>
<script>

</script>
</html>