<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/stylesheet.css">
    <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico">
    <title>Settings</title>
</head>
<body>
    <form id="settingsForm">
        <button type="button" onclick="submitPatchRequest()">Limit Subscriptions</button>
    </form>
    <a href="{{ url_for('userhome') }}" class="button" style="height: 3vh;">Home</a>

    <script>
        function submitPatchRequest() {
            var xhr = new XMLHttpRequest();
            xhr.open("PATCH", "/settings", true);
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4 && xhr.status === 200) {
                    alert("Done"); // Display a prompt message
                    setTimeout(function() {
                        window.location.href = "/userhome"; // Redirect after 1 second
                    }, 1000);
                }
            };
            var data = JSON.stringify({ "limit_subscriptions": true });
            xhr.send(data);
        }
    </script>
</body>
</html>
