<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/stylesheet.css">
    <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico">
    <title>FlixPicks Settings</title>
</head>
<body>
    {% include header %}

 
    <div style="height: 10vh;"></div>
    <h2 class="settings-header">Change Password</h2>
    <form id="changePasswordForm">
        <label for="newPassword">New Password:</label><br>
        <input type="password" id="newPassword" name="newPassword"><br>
        <label for="confirmPassword">Confirm Password:</label><br>
        <input type="password" id="confirmPassword" name="confirmPassword"><br>
        <button type="button" onclick="submitChangePasswordRequest()">Change Password</button>
    </form>


    <br></br>
    <h3 class="settings-header">Current Subscriptions:</h3>
    <br /> 
    {% for sub in subs %}
        <img class="frontimage" src="../static/images/{{ sub.title|lower() }}.svg" alt="{{ sub.title }}" title="{{ sub.title }}"/>
    {% endfor %}

    <br></br>
    <div class="edit-options">
        <h2>Edit Subscriptions:</h2>
        <button onclick="deleteSubscription()">Delete Subscription</button>
        <button onclick="addSubscription()">Add Subscription</button>
    </div>

    <br></br>
    <a href="{{ url_for('userhome') }}" class="button" style="height: 3vh;">Home</a>

    <script>
        var providerIds = {
            'netflix': 1,
            'hulu': 6,
            'disney+': 3,
            'prime': 2,
            'max': 9
        };

        function submitChangePasswordRequest() {
            var newPassword = document.getElementById("newPassword").value;
            var confirmPassword = document.getElementById("confirmPassword").value;

            if (newPassword !== confirmPassword) {
                alert("New password and confirmed password do not match");
                return;
            }

            var xhr = new XMLHttpRequest();
            xhr.open("PATCH", "/settings", true);
            xhr.setRequestHeader("Content-Type", "application/json");
            xhr.onreadystatechange = function () {
                if (xhr.readyState === 4) {
                    if (xhr.status === 200) {
                        alert("Password changed successfully."); // Display a success message
                        document.getElementById("changePasswordForm").reset();
                    } else {
                        alert("Failed to change password. Please try again."); // Display an error message
                    }
                }
            };
            var data = JSON.stringify({ "newPassword": newPassword, "confirmPassword": confirmPassword });
            xhr.send(data);
        }


        function deleteSubscription() {
            var providerName = prompt("Enter the provider name to delete (e.g., Netflix, Hulu, Disney+, etc.):");
            if (providerName !== null) {
                providerName = providerName.toLowerCase(); // Convert to lowercase
                var xhr = new XMLHttpRequest();
                xhr.open("DELETE", "/settings", true);
                xhr.setRequestHeader("Content-Type", "application/json");
                xhr.onreadystatechange = function () {
                    if (xhr.readyState === 4) {
                        if (xhr.status === 200) {
                            alert("Subscription deleted successfully.");
                            window.location.reload();
                        } else if (xhr.status === 404) {
                            alert("Subscription not found.");
                        } else {
                            alert("Failed to delete subscription.");
                        }
                    }
                };
                var providerId = providerIds[providerName];
                if (providerId) {
                    var data = JSON.stringify({ "provider_id": providerId });
                    xhr.send(data);
                } else {
                    alert("Invalid provider name.");
                }
            }
        }



        function addSubscription() {
            var providerName = prompt("Enter the provider name to add (e.g., Netflix, Hulu, Disney+, etc.):");
            if (providerName !== null) {
                providerName = providerName.toLowerCase(); // Convert to lowercase
                var xhr = new XMLHttpRequest();
                xhr.open("POST", "/settings", true);
                xhr.setRequestHeader("Content-Type", "application/json");
                xhr.onreadystatechange = function () {
                    if (xhr.readyState === 4) {
                        if (xhr.status === 201) {
                            alert("Subscription added successfully.");
                            window.location.reload();
                        } else if (xhr.status === 409) {
                            alert("Subscription already exists.");
                        } else {
                            alert("Failed to add subscription.");
                        }
                    }
                };
                var providerId = providerIds[providerName];
                if (providerId) {
                    var data = JSON.stringify({ "provider_id": providerId });
                    xhr.send(data);
                } else {
                    alert("Invalid provider name.");
                }
            }
        }
    </script>


</body>
</html>
