<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/stylesheet.css">
    <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico">
    <title>Taste Profile</title>
</head>
<body>
    <a href="{{ url_for('home') }}"> <!-- this is set to guesthome temporarily? -->
        <img id="banner" src="../static/images/FlixpicksLogo.png" alt="FlixPicks Logo" title="FlixPicks">
    </a>
    <h1>Welcome to Your Taste Profile!</h1>

    <form method="POST" action="/tasteProfile">
        <h2>Select Your Subscriptions</h2>
        {% for subscription in subscriptions %}
            <label>
                <input type="checkbox" name="subscriptions" value="{{ subscription['Name'] }}">
                <img src="{{ url_for('static', filename=subscription['image']) }}" alt="{{ subscription['Name'] }}">
            </label><br>
        {% endfor %}
        <h2>Select Your Favorite Movies</h2>
        {% for movie in movies %}
            <label>
                <input type="checkbox" name="movies" value="{{ movie }}">
                {{ movie }}
                <!-- Add images for movies if available -->
            </label><br>
        {% endfor %}
        <button type="submit">Submit</button>
    </form>
</body>
</html>