<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content = "width = device-width, initial-scale=1.0">
        <title>Welcome to your Taste Profile!</title> <!--Discuss title and apperance with other
                                                            team & other front end members-->
    </head>
    <body>
        <h1>Taste Profile</h1>
        <form action="/submit" method="post">
            {% for question, choices in question.items() %}
            <p>{{ question }}</p>
            {% for choice in choices %}
                <label><input type ="radio" name="{{ question }}" value="{{ choice }}" 
                    required> {{ choice }}</label>
            {% endfor %}
            <br>

        {% endfor %}
        <button type="submit">submit</button>
        </form>
    </body>
</html>