<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../static/stylesheet.css">
    <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico">
    <title>FlixPicks Watch History</title>
</head>
<body>
    {% include header %}

    <h1 style="margin-top: 15vh;">Watch History</h1>
    <p style="font-size: 1.1em; margin: auto; width: 90%">Watch some movies to make them appear in the "Watched" list. Then you can click "Thumbs Up" or "Thumbs Down" to move them into a different list. Just remember that your choices will affect future recommendations.</p>

    <div style="position: absolute; left: 50%; margin-left: calc(-570px - 7.5vh); margin-top: -10px; text-align: left;"> <!-- Start of Watched -->
        <div class="category-header"> 
            How did you enjoy the movie?
        </div>
    </div>
    <div style="margin-top: 12vh; display: flex; align-items: center; justify-content: center;"> <!-- Media Options Container (for category1)-->
        <div onclick="moveCategory(1,'left')" class="option-cycle-button-prev"><div style="text-align: center;">&lt</div></div>
        <div class="media-options-container">
            <div id="category1" style="display: flex; position: relative; transition: transform 1s ease-in-out;">
                {% for movie in watched %}
                <div style="display: inline-flex; margin: 12px;">
                    <a href="{{ url_for('mediaInfo', movie_id=movie.id) }}" style="padding-right: 53px;">
                        <div class="media-option-img" style="border-top-right-radius: 0;"> 
                            <img src="{{ movie.picture }}" alt="{{ movie.title }}"> 
                        </div>
                        <div class="media-option-title" style="border-bottom-right-radius: 0;">
                            {{ movie.title }}
                        </div>
                    </a>
                    <div class="watched_rating_container">
                        <a class="rank" onclick="triggerLikeRequest(event, '{{ movie.id }}')" href="{{url_for('watch_history')}}">
                            <img style="width: 40px;" src="../static/images/grey_thumb_up.png" alt="like">
                        </a>
                        <a class="rank" onclick="triggerDislikeRequest(event, '{{ movie.id }}')" href="{{url_for('watch_history')}}">
                            <img style="width: 40px;" src="../static/images/grey_thumb_down.png" alt="like">
                        </a>
                    </div> 
                </div>
                {% endfor %}
            </div>
        </div>
        <div onclick="moveCategory(1,'right')" class="option-cycle-button-next"><div style="text-align: center;">&gt</div></div>
    </div> <!-- End of Watched -->


    <div style="position: absolute; left: 50%; margin-left: calc(-570px - 7.5vh); margin-top: -10px; text-align: left;"> <!-- Start of Liked -->
        <div class="category-header"> 
            Like
        </div>
    </div>
    <div style="margin-top: 12vh; display: flex; align-items: center; justify-content: center;"> <!-- Media Options Container (for category2)-->
        <div onclick="moveCategory(2,'left')" class="option-cycle-button-prev"><div style="text-align: center;">&lt</div></div>
        <div class="media-options-container">
            <div id="category2" style="display: flex; position: relative; transition: transform 1s ease-in-out;">
                {% for movie in liked %}
                <div style="display: inline-flex; margin: 12px;">
                    <a href="{{ url_for('mediaInfo', movie_id=movie.id) }}" style="padding-right: 53px;">
                        <div class="media-option-img" style="border-top-right-radius: 0;"> 
                            <img src="{{ movie.picture }}" alt="{{ movie.title }}"> 
                        </div>
                        <div class="media-option-title" style="border-bottom-right-radius: 0;">
                            {{ movie.title }}
                        </div>
                    </a>
                    <div class="watched_rating_container">
                        <a class="fake_rank">
                            <img style="width: 40px;" src="../static/images/green_thumb_up.png" alt="like">
                        </a>
                        <a class="rank" onclick="triggerDislikeRequest(event, '{{ movie.id }}')" href="{{url_for('watch_history')}}">
                            <img style="width: 40px;" src="../static/images/grey_thumb_down.png" alt="like">
                        </a>
                    </div> 
                </div>                
                {% endfor %}
            </div>
        </div>
        <div onclick="moveCategory(2,'right')" class="option-cycle-button-next"><div style="text-align: center;">&gt</div></div>
    </div> <!-- End of Watched -->


    <div style="position: absolute; left: 50%; margin-left: calc(-570px - 7.5vh); margin-top: -10px; text-align: left;"> <!-- Start of Disliked -->
        <div class="category-header"> 
            Dislike
        </div>
    </div>
    <div style="margin-top: 12vh; display: flex; align-items: center; justify-content: center;"> <!-- Media Options Container (for category3)-->
        <div onclick="moveCategory(3,'left')" class="option-cycle-button-prev"><div style="text-align: center;">&lt</div></div>
        <div class="media-options-container">
            <div id="category3" style="display: flex; position: relative; transition: transform 1s ease-in-out;">
                {% for movie in disliked %}
                <div style="display: inline-flex; margin: 12px;">
                    <a href="{{ url_for('mediaInfo', movie_id=movie.id) }}" style="padding-right: 53px;">
                        <div class="media-option-img" style="border-top-right-radius: 0;"> 
                            <img src="{{ movie.picture }}" alt="{{ movie.title }}"> 
                        </div>
                        <div class="media-option-title" style="border-bottom-right-radius: 0;">
                            {{ movie.title }}
                        </div>
                    </a>
                    <div class="watched_rating_container">
                        <a class="rank" onclick="triggerLikeRequest(event, '{{ movie.id }}')" href="{{url_for('watch_history')}}">
                            <img style="width: 40px;" src="../static/images/grey_thumb_up.png" alt="like">
                        </a>
                        <a class="fake_rank">
                            <img style="width: 40px;" src="../static/images/red_thumb_down.png" alt="like">
                        </a>
                    </div> 
                </div>
                {% endfor %}
            </div>
        </div>
        <div onclick="moveCategory(3,'right')" class="option-cycle-button-next"><div style="text-align: center;">&gt</div></div>
    </div> <!-- End of Disliked -->
</body>
<script>

    let count = []; // the count array and moveCategory() are for horizontal-media-category-navigation
    function moveCategory(categoryNum, direction) {
        const box = document.getElementById('category' + categoryNum);
        const maxSteps = (Math.max(0, Math.ceil((box.offsetWidth - (6 * box.children[0].offsetWidth)) / box.children[0].offsetWidth)))/5;
        const stepSize = (box.children[0].offsetWidth + 24) * 5; // (Width of each movie element + margin) * num of steps

        // Initialize count for the category if it doesn't exist
        if (!count[categoryNum]) {
            count[categoryNum] = 0;
        }

        // Update count based on direction
        if (direction == 'right') {
            count[categoryNum]++;
        } else if (direction == 'left') {
            count[categoryNum]--;
        }

        // Ensure count stays within bounds
        count[categoryNum] = Math.max(0, Math.min(maxSteps, count[categoryNum]));

        // Calculate translation based on count
        const translation = -stepSize * count[categoryNum]; // Negative for right direction

        // Apply translation to the box
        box.style.transform = `translateX(${translation}px)`;
        }

    function triggerLikeRequest(event, movie_id) {
        event.preventDefault(); // Prevent the default behavior of the link
        //Construct your POST request data here

        const liked_data = {movie: movie_id};

        fetch('/like', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
        body:JSON.stringify(liked_data)
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            //  If the request was successful, navigate to the URL
            window.location.reload();
        })
        .catch(error => {
            console.error('There was a problem with the POST request:', error);
        });
    }

    function triggerDislikeRequest(event, movie_id) {
        event.preventDefault(); // Prevent the default behavior of the link
        //Construct your POST request data here

        const disliked_data = {movie: movie_id};

        fetch('/dislike', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
        body:JSON.stringify(disliked_data)
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Network response was not ok');
            }
            //  If the request was successful, navigate to the URL
            window.location.reload();
        })
        .catch(error => {
            console.error('There was a problem with the POST request:', error);
        });
    }

</script>
</html>