<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Spin Wheel Example - ESM</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
      <link rel="icon" type="image/x-icon" href="../static/images/favicon.ico">
    <link rel="stylesheet" href="../static/stylesheet.css"> <!-- This was added after-->
    <script src="../static/wheel.js" type="module"></script>
  </head>

  <body>
    {% include header %}

    <h1 style="margin-top: 15vh;">CineWheel</h1>
    <p>
      The CineWheel list is not case sensitive. Spelling and spacing matters in order to find the movie. Partial movie titles can be entered as long as the spelling is accurate. A maximum of 13 titles can be added to the wheel. Titles must be separated by new lines.
    </p>
    <!-- Input field for the user to enter items -->
    <textarea
      type="text"
      id="listInput"
      placeholder="Enter titles on separate lines"
    ></textarea>

    <!-- Button to trigger the list processing function -->
   
   <div>
    <button class ="processList button2">Submit</button>
    <button class ="openModal button2">Open Wheel</button>
   </div>
 
  
    <div class="modal" id="modal">
    <div class="modal-inner">
      <button class="btn-spin button2">Spin the Wheel</button>
      <div class="wheel-wrapper"></div>
      <button class="closeBTN button2">Close</button>
    </div>
    </div>

    <div style="text-align: left; " >
   <p>
    Example list: 
   </p> 
   <ul>
    Spider
   </ul>
   <ul>
    Barbie
   </ul>
   <ul>
    Up
   </ul>
   <ul>
    Fast
   </ul>
  </div>
  </body>
</html>